.elementor-kit-3 {
    --e-global-color-primary: #0A0802;
    --e-global-color-secondary: #999383;
    --e-global-color-text: #848380;
    --e-global-color-accent: #FFC326;
    --e-global-color-5c90a80: #5997BC;
    --e-global-color-16081e8: #E1E6E9;
    --e-global-color-5545043: #DFDEDB;
    --e-global-color-564e9c2: #D2D2D2;
    --e-global-color-d110dba: #F7F7F7;
    --e-global-color-1e92ff3: #1E1E1E;
    --e-global-color-32ffb1f: #FFFFFF;
    --e-global-color-e2d51b9: #FFFFFFCC;
    --e-global-color-e5da026: #FFFFFF4D;
    --e-global-color-173da2c: #00000000;
    --e-global-typography-primary-font-family: "Inter Tight";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Inter Tight";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Inter Tight";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Inter Tight";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-ba5b4ac-font-family: "Inter Tight";
    --e-global-typography-ba5b4ac-font-size: 18.75em;
    --e-global-typography-ba5b4ac-font-weight: 700;
    --e-global-typography-ba5b4ac-line-height: 1em;
    --e-global-typography-1702983-font-family: "Inter Tight";
    --e-global-typography-1702983-font-size: 6em;
    --e-global-typography-1702983-font-weight: 700;
    --e-global-typography-1702983-line-height: 1.2em;
    --e-global-typography-36b8558-font-family: "Inter Tight";
    --e-global-typography-36b8558-font-size: 4em;
    --e-global-typography-36b8558-font-weight: 700;
    --e-global-typography-36b8558-line-height: 1.2em;
    --e-global-typography-5a3c4a0-font-family: "Inter Tight";
    --e-global-typography-5a3c4a0-font-size: 3.375em;
    --e-global-typography-5a3c4a0-font-weight: 700;
    --e-global-typography-5a3c4a0-line-height: 1.2em;
    --e-global-typography-7e56539-font-family: "Inter Tight";
    --e-global-typography-7e56539-font-size: 2.5em;
    --e-global-typography-7e56539-font-weight: 600;
    --e-global-typography-7e56539-line-height: 1.2em;
    --e-global-typography-26a0358-font-family: "Inter Tight";
    --e-global-typography-26a0358-font-size: 2.25em;
    --e-global-typography-26a0358-font-weight: 600;
    --e-global-typography-26a0358-line-height: 1.2em;
    --e-global-typography-071e8a1-font-family: "Inter Tight";
    --e-global-typography-071e8a1-font-size: 1.5em;
    --e-global-typography-071e8a1-font-weight: 600;
    --e-global-typography-071e8a1-line-height: 1.2em;
    --e-global-typography-d46af11-font-family: "Inter Tight";
    --e-global-typography-d46af11-font-size: 1.375em;
    --e-global-typography-d46af11-font-weight: 600;
    --e-global-typography-d46af11-line-height: 1.2em;
    --e-global-typography-dd50115-font-family: "Inter Tight";
    --e-global-typography-dd50115-font-size: 0.875em;
    --e-global-typography-dd50115-font-weight: 500;
    --e-global-typography-dd50115-text-transform: uppercase;
    --e-global-typography-dd50115-line-height: 1.4em;
    --e-global-typography-dd50115-letter-spacing: 0.06em;
    --e-global-typography-4d8157c-font-family: "Inter Tight";
    --e-global-typography-4d8157c-font-size: 1.25em;
    --e-global-typography-4d8157c-font-weight: 500;
    --e-global-typography-4d8157c-line-height: 1.6em;
    --e-global-typography-3939960-font-family: "Inter Tight";
    --e-global-typography-3939960-font-size: 1em;
    --e-global-typography-3939960-font-weight: 500;
    --e-global-typography-3939960-line-height: 1.6em;
    --e-global-typography-7f19aff-font-family: "Inter Tight";
    --e-global-typography-7f19aff-font-size: 0.875em;
    --e-global-typography-7f19aff-font-weight: 500;
    --e-global-typography-7f19aff-line-height: 1.6em;
    --e-global-typography-ccc69c6-font-family: "Inter Tight";
    --e-global-typography-ccc69c6-font-size: 4em;
    --e-global-typography-ccc69c6-font-weight: 600;
    --e-global-typography-ccc69c6-line-height: 1.2em;
    --e-global-typography-4b17621-font-family: "Inter Tight";
    --e-global-typography-4b17621-font-size: 1.125em;
    --e-global-typography-4b17621-font-weight: 500;
    --e-global-typography-4b17621-line-height: 1.2em;
    --e-global-typography-9cdbf07-font-family: "Inter Tight";
    --e-global-typography-9cdbf07-font-size: 0.875em;
    --e-global-typography-9cdbf07-font-weight: 500;
    --e-global-typography-9cdbf07-line-height: 1.4em;
    background-color: var( --e-global-color-d110dba);
    font-family: var( --e-global-typography-3939960-font-family), Sans-serif;
    font-size: var( --e-global-typography-3939960-font-size);
    font-weight: var( --e-global-typography-3939960-font-weight);
    line-height: var( --e-global-typography-3939960-line-height);
}

.elementor-kit-3 button,
.elementor-kit-3 input[type="button"],
.elementor-kit-3 input[type="submit"],
.elementor-kit-3 .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-4b17621-font-family), Sans-serif;
    font-size: var( --e-global-typography-4b17621-font-size);
    font-weight: var( --e-global-typography-4b17621-font-weight);
    line-height: var( --e-global-typography-4b17621-line-height);
    color: var( --e-global-color-primary);
    border-style: none;
    border-radius: 0px 0px 0px 0px;
    padding: 20px 32px 20px 32px;
}

.elementor-kit-3 button:hover,
.elementor-kit-3 button:focus,
.elementor-kit-3 input[type="button"]:hover,
.elementor-kit-3 input[type="button"]:focus,
.elementor-kit-3 input[type="submit"]:hover,
.elementor-kit-3 input[type="submit"]:focus,
.elementor-kit-3 .elementor-button:hover,
.elementor-kit-3 .elementor-button:focus {
    background-color: var( --e-global-color-secondary);
    color: var( --e-global-color-primary);
    border-style: none;
    border-radius: 0px 0px 0px 0px;
}

.elementor-kit-3 e-page-transition {
    background-color: #FFBC7D;
}

.elementor-kit-3 a {
    font-family: var( --e-global-typography-4b17621-font-family), Sans-serif;
    font-size: var( --e-global-typography-4b17621-font-size);
    font-weight: var( --e-global-typography-4b17621-font-weight);
    line-height: var( --e-global-typography-4b17621-line-height);
}

.elementor-kit-3 h1 {
    font-family: var( --e-global-typography-36b8558-font-family), Sans-serif;
    font-size: var( --e-global-typography-36b8558-font-size);
    font-weight: var( --e-global-typography-36b8558-font-weight);
    line-height: var( --e-global-typography-36b8558-line-height);
}

.elementor-kit-3 h2 {
    font-family: var( --e-global-typography-7e56539-font-family), Sans-serif;
    font-size: var( --e-global-typography-7e56539-font-size);
    font-weight: var( --e-global-typography-7e56539-font-weight);
    line-height: var( --e-global-typography-7e56539-line-height);
}

.elementor-kit-3 h3 {
    font-family: var( --e-global-typography-26a0358-font-family), Sans-serif;
    font-size: var( --e-global-typography-26a0358-font-size);
    font-weight: var( --e-global-typography-26a0358-font-weight);
    line-height: var( --e-global-typography-26a0358-line-height);
}

.elementor-kit-3 h4 {
    font-family: var( --e-global-typography-071e8a1-font-family), Sans-serif;
    font-size: var( --e-global-typography-071e8a1-font-size);
    font-weight: var( --e-global-typography-071e8a1-font-weight);
    line-height: var( --e-global-typography-071e8a1-line-height);
}

.elementor-kit-3 h5 {
    font-family: var( --e-global-typography-d46af11-font-family), Sans-serif;
    font-size: var( --e-global-typography-d46af11-font-size);
    font-weight: var( --e-global-typography-d46af11-font-weight);
    line-height: var( --e-global-typography-d46af11-line-height);
}

.elementor-kit-3 h6 {
    font-family: var( --e-global-typography-d46af11-font-family), Sans-serif;
    font-size: var( --e-global-typography-d46af11-font-size);
    font-weight: var( --e-global-typography-d46af11-font-weight);
    line-height: var( --e-global-typography-d46af11-line-height);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1280px;
}

.e-con {
    --container-max-width: 1280px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1024px) {
    .elementor-kit-3 {
        --e-global-typography-ba5b4ac-font-size: 4.2em;
        --e-global-typography-1702983-font-size: 3.5em;
        --e-global-typography-36b8558-font-size: 2.5em;
        --e-global-typography-5a3c4a0-font-size: 2em;
        --e-global-typography-7e56539-font-size: 1.5em;
        --e-global-typography-26a0358-font-size: 1.25em;
        --e-global-typography-071e8a1-font-size: 1.125em;
        --e-global-typography-d46af11-font-size: 1.063em;
        --e-global-typography-4d8157c-font-size: 1.125em;
        --e-global-typography-ccc69c6-font-size: 2.5em;
        font-size: var( --e-global-typography-3939960-font-size);
        line-height: var( --e-global-typography-3939960-line-height);
    }
    .elementor-kit-3 a {
        font-size: var( --e-global-typography-4b17621-font-size);
        line-height: var( --e-global-typography-4b17621-line-height);
    }
    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-36b8558-font-size);
        line-height: var( --e-global-typography-36b8558-line-height);
    }
    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-7e56539-font-size);
        line-height: var( --e-global-typography-7e56539-line-height);
    }
    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-26a0358-font-size);
        line-height: var( --e-global-typography-26a0358-line-height);
    }
    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-071e8a1-font-size);
        line-height: var( --e-global-typography-071e8a1-line-height);
    }
    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-d46af11-font-size);
        line-height: var( --e-global-typography-d46af11-line-height);
    }
    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-d46af11-font-size);
        line-height: var( --e-global-typography-d46af11-line-height);
    }
    .elementor-kit-3 button,
    .elementor-kit-3 input[type="button"],
    .elementor-kit-3 input[type="submit"],
    .elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-4b17621-font-size);
        line-height: var( --e-global-typography-4b17621-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-3 {
        font-size: var( --e-global-typography-3939960-font-size);
        line-height: var( --e-global-typography-3939960-line-height);
    }
    .elementor-kit-3 a {
        font-size: var( --e-global-typography-4b17621-font-size);
        line-height: var( --e-global-typography-4b17621-line-height);
    }
    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-36b8558-font-size);
        line-height: var( --e-global-typography-36b8558-line-height);
    }
    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-7e56539-font-size);
        line-height: var( --e-global-typography-7e56539-line-height);
    }
    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-26a0358-font-size);
        line-height: var( --e-global-typography-26a0358-line-height);
    }
    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-071e8a1-font-size);
        line-height: var( --e-global-typography-071e8a1-line-height);
    }
    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-d46af11-font-size);
        line-height: var( --e-global-typography-d46af11-line-height);
    }
    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-d46af11-font-size);
        line-height: var( --e-global-typography-d46af11-line-height);
    }
    .elementor-kit-3 button,
    .elementor-kit-3 input[type="button"],
    .elementor-kit-3 input[type="submit"],
    .elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-4b17621-font-size);
        line-height: var( --e-global-typography-4b17621-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}